.container{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    background-color: cadetblue;
}

.cabeçarioForm{
    width: 480px;
    height: 40px;
    border: 1px solid black;
    margin: 3px;
    background-color: blanchedalmond;
    padding: 5px;
}

.tituloForm{
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    margin: 10px;
}

.chat{
    width: 480px;
    height: 450px;
    border: 1px solid black;
    margin: 3px;
    background-color: blueviolet;
    padding: 5px;
}