body{
    background-color: rgb(48, 40, 40);

}

#container{
    width: 500px;
    height: 600px;
    border-style: double;
    border: 2px solid rgb(0, 0, 0);
    background-color: blanchedalmond;
    margin-left: 20px;

}
.caixaTitulo{
    width: 500px;
    height: 35px;
    border-bottom: solid 2px;
    border
}

/*falta arrumar o titulo*/
.titulo{
    font: 16px italic;
}

.chatBox{
    width: 450px;
    height: 450px;
    border: 2px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#escreveTexto{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
    width: 350px;
    height: 35px;
    display: block;
}