body{
    background: rgb(216, 215, 214);
}

#container{
    width: 500px;
    height: 600px;
    background: rgb(209, 185, 185);
    border: 1px solid black;
    text-align: center;
    margin: 50px 50px 50px 60px;
    
    
}
.tituloHeader{
    font-size: 16px;
    font-style: italic;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
    
}
#secaoCentral{
    background-color: rgba(99, 110, 69, 0.466);
    width: 460px;
    height: 450px;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    
}

.tituloLeft{
    /*background-color: rgb(235, 235, 243);*/
    width: 300px;
    text-align: left;
    padding-left: 10px;
    /*border: 1px solid rgb(240, 6, 6);*/
}
.tituloRight{
    /*background-color: lavenderblush;*/
    width: 300px;
    text-align: right;
    padding-right: 10px;
    /*border: 1px solid rgb(233, 20, 20);*/
    position: relative;
    display: block;
    float: right;
    margin-top: 15px;
}
 .boxTextLeft{
    background-color: darkturquoise;
    width: 300px;
    text-align: left;
  
    padding-left: 10px;
    border: 1px solid rgb(250, 115, 115);
    position: relative;
    display: block;
    float: right;
}
.boxTextRight{
    background-color: darkturquoise;
    width: 300px;
    text-align: left;
    border: 1px solid rgb(250, 115, 115);
    position: relative;
    display: block;
    float: right;
}
#digitando{
    width: 350px;
    height: 25px;
    border: 1px solid rgb(19, 16, 16);
    font-style: italic;
    padding: 10px 5px 0px 5px;
    margin: 5px 5px 0px 10px ;
    float: left;
    text-align: left;
}

#btn{
    width: 100px;
    height: 35px;
    border: 1px solid rgb(19, 16, 16);
    font-style: italic;
    padding: 10px 5px 0px 5px;
    margin: 5px 5px 0px 10px ;
    float: left;
}